global:
  scrape_interval: 15s

rule_files:
  - "alert.rules.yml"

scrape_configs:
  - job_name: "gin_app"
    static_configs:     
     - targets: ['host.docker.internal:8080']

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["localhost:9093"]